.App {
  text-align: center;
  
}
body{
  margin: 0;
  background-size:cover;
  background-image: url(spaceX.JPG);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#webcast-link {
  color: orange;
  grid-area: link;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#launch-detail{
  font: white;
}

.button {
  grid-area: link;
}

#spaceXContainer{
  display: flex;
}

h1{
 text-align: center;
 font-family: Playfair Display SC;
 font-size: 50px;
 
 
}