.App {
  text-align: center;
  
}
body{
  display: flex;
  justify-content: center;
  margin: 0;
  background-size:cover;
  background-image: url(AnyFaithfulHylaeosaurus.webp);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#webcast-link {
  color: orange;
  grid-area: link;
  font-size: 35px;
}


select{
  font-family: monospace;
  color: teal;
}
button {
  
  font-family: monospace;
  color: white;
}

#spaceXContainer{
  display: flex;
}
p {text-align: center;
  font-family: Playfair Display SC;
  font-size: 30px;
  color: yellow;
  border-style: solid;
  
}
h1{
  text-align: center;
  font-family: Playfair Display SC;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color:black;
  margin: 0px;
  text-shadow: -1px 0 rgb(246, 255, 0), 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
  font-size: 40px;
  color: white;
}

h3{

  font-size: 30px;
}
h4{
  font-size: 30px;
  
}
 
